<mat-card>
  <mat-card-title>Contrainte 1</mat-card-title>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable x">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable y">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable z">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
  
<mat-card>
  <mat-card-title>Contrainte 2</mat-card-title>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable x">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable y">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable z">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Contrainte 3</mat-card-title>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable x">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable y">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Variable z">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>