
<p>Contrainte 1</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable x">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable y">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable z">
  </mat-form-field>
</form>

<p>Contrainte 2</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable x">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable y">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable z">
  </mat-form-field>
</form>

<p>Contrainte 3</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable x">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable y">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Variable z">
  </mat-form-field>
</form>

